<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', current_object %> |
<%= link_to 'Back', project_posts_path(current_object.project) %>
<%= link_to 'Project', project_path(current_object.project) %> |
